.card{
    padding-top: 20px;
    height: 100%;
}

div .card2{
    padding-top: 20px;
}

@media (max-width: 767px) {
    .text-white1 {
      display: block ;
    }
    .text-white1.mb-3 {
      display: block ;
      width: 100%;
      background-position: center center;
    }
    .text-white2  {
      display: block ;
      width: 100%;
      padding: 37px 30px;
      padding-bottom: 45px;
    }
    .card-img, .card-img-top {
      border-top-left-radius: calc(.25rem - 1px);
      border-top-right-radius: calc(.25rem - 1px);
      height: 60%;
  }
  }

  @media (min-width: 1265px){
    .card-img, .card-img-top {
      border-top-left-radius: calc(.25rem - 1px);
      border-top-right-radius: calc(.25rem - 1px);
      height: 80%;
    }
  }

  .card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    
}
h5.card-title{
  font-family: cursive;
  font-style: italic;
}